.toolbar {
  height: 128px;
  display: flex;
  align-items: stretch;
}

.inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  padding: 30px 40px 28px;
}

.nav {
  display: flex;
  gap: 32px;
  align-items: center;
}
.link {
  text-decoration: none;
  color: #282828;
  font-size: 20px;
}

.active {
  font-weight: 600;
  color: #0d50ff;
}
