.toolbar {
  padding: 0;
  border: 2px solid red;
}

.inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 40px;
  border: 2px solid green;
}

.logo {
  text-decoration: none;
  border: 2px solid green;
}

.nav {
  display: flex;
  gap: 32px;
}
.link {
  text-decoration: none;
  color: #282828;
  font-size: 20px;
}

.active {
  font-weight: 600;
}
