.footer {
  padding: 40px;
  background: #fff;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1.3fr;

  gap: 32px;
  margin-bottom: 32px;
}

.card {
  background: #f1f3f4;
  border-radius: 12px;
  padding: 32px;
  min-height: 150px;
}

.socials {
  display: flex;
  gap: 16px;
  align-items: center;
}

.location {
  border-radius: 12px;
  overflow: hidden;
}
.mapImg {
  width: 100%;
  height: 350px;
  display: block;
}
