.footer {
  padding: 80px 0;
  background: #fff;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1.3fr;

  gap: 32px;
  margin-bottom: 32px;
}

.card {
  background: #f1f3f4;
  border-radius: 12px;
  padding: 32px;
  min-height: 150px;
}

.socials {
  display: flex;
  gap: 16px;
  align-items: center;
}

.location {
  border-radius: 12px;
  overflow: hidden;
}
.mapImg {
  width: 100%;
  height: 350px;
  display: block;
}
