.banner {
  max-width: 1440px;
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  height: 100%;
  padding: 0 40px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  padding: 80px 40px 0;
}

/* Categories Block */

.categoriesSection {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.categoriesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.headerLine {
  flex: 1;
  height: 1px;
  background-color: #dddddd;
  margin-left: 32px;
}

/* discount Form Block */

.promoSection {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 80px;
}

.promo {
  border-radius: 14px;
  padding: 32px;
  background: linear-gradient(90deg, #2451c6, #0d50ff);
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: auto 1fr;
  gap: 24px 32px;
  align-items: start;
  min-height: 480px;
}

.promoTitle {
  grid-column: 1/-1;
  text-align: center;
}

.backgroundImg {
  width: 100%;
  max-width: 783px;
  align-self: end;
  justify-self: start;
  display: block;
  margin-bottom: -32px;
}

.promoForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Sales products Block */

.saleSection {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 80px;
}

.saleHeader {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.saleGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
